.pagempg1{
    background: url(../images/pv_pagempg1.svg) no-repeat;
    background-position-y:-10px;
    background-position-x:  -30px;
    padding: 2em 2em 1em 2.5em;
}
.pagempg2{
    background: url(../images/pv_pagempg2.svg) no-repeat;
    background-position-y:-10px;
    background-position-x:  -30px;
    padding: 2em 2em 1em 2.5em;
}

.box_geral_mp>.p0tit1{
    background: var(--laranja2);
  font-size: var(--peso7);
  font-weight: bold;
  line-height: 1.13em;
  padding: 0.5em;
  margin: 1.6em 0 0 3em;
  width: max-content;
  max-width: 75%;
  height: max-content;
}
.box_geral_mp>.p0tit1::before{
background: url(../images/pv_aberturacapmpg.svg) no-repeat;
background-size: 100%;
content: '';
width: 40px ;
height:38px ;
position: absolute;
margin: -7px 0 0 -50px ;
}


.box_geral_mp>.p1sec4tit1{
  background: var(--preto);
  border-radius: 0  0 1.5em 1.5em;
  color: var(--branco);
  font-family: var(--titulo);
  font-weight: bold;
  font-size: var(--peso6);
  padding: 0.5em 1em 0.5em 1em;
  margin:1em 0 0.5em 0;
  width: max-content;
  max-width: 100%;
}
.box_geral_mp>.p1sec4tit1::after{
background: url(../images/pv_midiaemfocompg.svg) no-repeat;
background-size: 100%;
content: '';
width:55px ;
height:21px ;
position: absolute;
margin:-10px 0 0 -6px ;
}

/* para saber mais */
.box_geral_mp>.o0parasabermais{
  background: url(../images/pv_boxsaibamais_bg1.svg) no-repeat var(--preto);
  background-position-x: 120px;
  border-radius: 1em 1em 0 0;
  color: var(--branco);
  font-family: var(--titulo);
  font-weight: bold;
  padding: 0.2em 2em 0.2em 0.5em;
  margin: 1em 0 0.5em 0;
  width: max-content;
  font-size: var(--peso7);
}

/* box info box complementar */
.box_geral_mp .o4boxinfo{
    background: url(../images/pv_elemento_horizontalbranco.svg) no-repeat var(--roxo2);
    background-size: 40px;
    background-position-x: -20px;
    background-position-y: 10px;
    border-radius: 1em 1em 0 0;
    font-family: var(--titulo);
    font-weight: bold;
    padding: 0.2em 1em 0.2em 3em;
    margin: 1em 0 0.5em 1.8em;
    width: max-content;
    max-width: 100%;
  }
  .box_geral_mp .o4boxinfo::before{
    content: '';
  background: url(../images/pv_elemento_horizontalroxo.svg) no-repeat;
    background-size: auto;
  background-size: 100%;
  width: 40px;
  height: 60px;
  position: absolute;
  margin: 5px 0 0 -70px;
  z-index: -10;
  }


  .box_geral_mp .p1sec5tit1{
    margin: 1.5em 0 0.5em 0px;
}
.box_geral_mp .p1sec3tit1{
    margin: 1.5em 0 0.5em 0;
}
.box_geral_mp .p1sec3tit1::before {
    content: '';
    background: url(../images/pv_boxverifique.svg) no-repeat;
      background-size: auto;
    background-size: 100%;
    width: 94px;
    height: 53px;
    position: absolute;
    margin: -30px 0 0 -45px;
    z-index: -10;
  }


  .box_geral_mp .p1sec2tit1{
    background: var(--laranja3);
    border-radius: 0 0 1em 1em ;
    width: max-content;
    max-width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 0 0.5em 0;
  }

  .box_geral_mp .p1sec2tit1::after{
  background: url(../images/pv_secconexoesmpg.svg) no-repeat;
  background-size: 100%;
  content: '';
  width:82px ;
  height:21px ;
  position: absolute;
  margin: -10px 0 0 0;
  }

  .box_geral_mp .p1sugestcomptit1{
    font-size: var(--peso6);
    margin: 1.5em 0 2em 0;
  }

/*👉=========== TÍTULOS =========================👈*/
.p0tit1mp{    
    background: var(--preto);
    color: var(--branco);
    font-family: var(--titulo);
    font-size: var(--peso1);
    line-height: 1.1em;
    width: max-content;
    max-width: 100%;
    padding: 0.2em 1em 0.5em 1em;
    margin: 1em 0 0.5em 0;
}
.p0tit1mp::after{
    background: url(../images/pv_p0tit1mp.svg) no-repeat;
    background-size: 100%;
    content: '';
    width:83px ;
    height: 41px;
    position: absolute;
    margin: -30px 0 0 -30px;
    z-index: -2;
}
.p0tit1mpnegativo{}

.p0tit2mp{
    font-family: var(--titulo);
    font-size: var(--peso2);
    font-weight: bold;
    margin: 1em 0 0.5em 0.7em;
    width: max-content;
    max-width: 100%;
}

.p0tit2mp::before{
background: url(../images/pv_p0tit2mp.svg) no-repeat;
background-size: 100%;
content: '';
width: 15px ;
height:28px ;
position: absolute;
margin: 2px 0 0  -18px ;
}

.p0tit2mpnegativo{}

.p0tit3mp{
    font-family: var(--titulo);
    font-size: var(--peso3);
    font-weight: bold;
    margin: 1em 0 0.5em 0.8em;
    width: max-content;
    max-width: 100%;
}
.p0tit3mp::before{
background: url(../images/pv_p0tit3mp.svg) no-repeat;
background-size: 100%;
content: '';
width:14px ;
height:26px ;
position: absolute;
margin: 4px 0 0 -20px;
}
.p0tit3mpnegativo{}

.p0tit4mp{}
.p0tit4mpnegativo{}

.p0tit5mp{}
.p0tit5mpnegativo{}

.p0tit6mp{}
.p0tit6mpnegativo{}

/*👉=========== TÍTULOS ESPECÍFICOS =============👈*/
/* Sumário */
.p1sumariomppeso1{}
.p1sumariomppeso2{}
.p1sumariomppeso3{}
.p1sumariomppeso4{}
.p1sumariomppeso5{}
.p1sumariompfinais{}

/* Tabelas e Quadros */
.p1tabelatit{} 
.p1tabelatitcoluna{}
.p1tabelatexto{}
.p1tabelatextoitem{}
.p1tabelatextoitemcont{}

.tb_mpg{
    width: 100%;
    max-width: 100%;
    margin: 1em 0;
    box-sizing: border-box;
}

.tb_mpg>caption{
    border: 2px solid var(--verde2);
}
.tb_mpg td {
    border: 2px solid var(--verde2);
}

.tb_mpg th {
    border: 2px solid var(--branco);
    background: var(--roxo3);
    font-family: var(--titulo);
    font-size: 0.9em;
    text-align: center;
}

.tb_mpg tr td:empty,
.tb_mpg tr th:empty {
    height: 40px;
}

/* Gráficos */
.p1graficotit{} 

/* Mapas */
.p1mapatit{}

/* Títulos de box */
.p1box1tit{}
.p1box2tit{}

.box_professor_mp>.p1box1tit,
.box_geral_mp>.p1box1tit {
    background: var(--laranja2);
    color: var(--preto);
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso7);
    width: max-content;
    max-width: 100%;
    padding: 0 1em;
    margin: 1em 0 0.5em 0;
}

.box_professor_mp>.p1box2tit,
.box_geral_mp>.p1box2tit {
    background: var(--verde2);
    color: var(--preto);
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso7);
    width: max-content;
    max-width: 100%;
    padding: 0 1em;
    margin: 1em 0 0.5em 0;
}


/* Seção 1 */
.p1sec1mptit1{}
.p1sec1mptit2{}

/* Seção 2 */
.p1sec2mptit1{}
.p1sec2mptit2{}

/*👉=========== TEXTOS PESO: PRINCIPAL===========👈*/
/* Texto Principal sem recuo */
.p2textompsemrecuo,
.p2textompsemrecuoitem, 
.p2textompsemrecuoitem,
.p2textompsemrecuoitemcont,
.p2textompsemrecuosubitem,
.p2textompnumsemrecuo,
.p2textompnumsemrecuocont,
.p2textompsemrecuonum,
.p2textompsemrecuoletra,
.p2textompsemrecuonumletra,
.p2textompsemrecuonumitem,
.p2textompsemrecuoromano,
.p2textompsemrecuonumromano,
.p2textompsemrecuonumromanoitem,
.p2textompsemrecuonumletraitem{
    text-align: justify;
    hyphens: none;
    margin: 0.5em 0;
}


.p2textompsemrecuo{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
   
}

.p2textompsemrecuoitem{}
ul.p2textompsemrecuoitem, p.p2textompsemrecuoitem{
    margin: 1em 0;
}
ul.p2textompsemrecuoitem li::before, p.p2textompsemrecuoitem::before{
    content: '•';
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0 ;

}

.p2textompsemrecuoitemcont{}

ul.p2textompsemrecuosubitem, p.p2textompsemrecuosubitem{
    margin: 1em 0 1em 1em;
}
ul.p2textompsemrecuosubitem li::before, p.p2textompsemrecuosubitem::before{
    content: '•';
    color: var(--laranja1);
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0 ;

}


.p2textompnumsemrecuo{}
.p2textompnumsemrecuocont{}

.p2textompsemrecuonum{}
.p2textompsemrecuoletra{}

.p2textompsemrecuonumletra{}
.p2textompsemrecuonumletraitem{} 

.p2textompsemrecuonumitem{}

.p2textompsemrecuoromano{}
.p2textompsemrecuonumromano{}
.p2textompsemrecuonumromanoitem{}


/* TEXTO  Principal*/
.p2textomp{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-indent: 1.5em;
    text-align: justify;
    hyphens: none;
}

/* TODO: ESTILOS NOVOS */
.p2textompnum{}
.p2textompnumletra{}
.p2textompnumitem{}
.p2textompnumletraitem{}
.p2textompromano{}
.p2textompromanonumletra{}

/* TODO: ESTILOS NOVOS */

ul.p2textompitem{
    margin: 0.5em 0 0.5em 0em ;
    text-align: justify;
}
p.p2textompitem{
    margin: 0.5em 0 0.5em 0em ;
    text-align: justify;
}
p.p2textompitem::before, ul.p2textompitem li::before{
    content: '•';
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    margin: 0 10px 0 0 ;
}

.p2textompitemcont{}

ul.p2textompsubitem, p.p2textompsubitem{
    margin: 0.5em 0 0.5em 0em ;
    text-align: justify;
}

p.p2textompsubitem::before, ul.p2textompsubitem li::before{
    content: '•';
    color: var(--laranja1);
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    margin: 0 10px 0 0 ;
}

.p2textompsubitem{}
.p2textompsubitemcont{}

.p2textompletra{}
.p2textompletracont{}

.p2textompletraitem{}
.p2textompletraitemcont{}

.p2textompmarcador{}
.p2textompmarcadoritem{}

.p2textompmarcadorsemrecuo{}

/* Resposta e comentários - Questão Teoria */
.p2questaomp{}
.p2questaompcont{}

.p2questaompletra{}
.p2questaompletracont{}

.p2questaompletraitem{}
.p2questaompletraitemcont{}

.p2questaompitem{}
.p2questaompitemcont{}

.p2questaompsubitem{}
.p2questaompsubitemcont{}

.p2questaompnumitem{}
.p2questaompnumletra{}
.p2questaompnumletraitem{}

/* Resposta e comentários - Atividades */
.p2atvmp{}
.p2atvmpcont{}

.p2atvmpromano{}
.p2atvmpromanocont{}

.p2atvmpitem{}
.p2atvmpitemcont{}

.p2atvmpsubitem{}
.p2atvmpsubitemcont{}

.p2atvmpitemletra{}
.p2atvmpitemletracont{}

.p2atvmpletra{}
.p2atvmpletracont{}

.p2atvmpletraitembullet{}
.p2atvmpletraitembulletcont{}

.p2atvmpletraromano{}
.p2atvmpletraromanocont{}

.p2atvmpnumitem{}

.p2atvmpnumletra{}
.p2atvmpnumletraitem{}

.p2atvmpletraitem{}

.p2atvmpnumromano{}

.p2atvmpsomatoria{}

/*👉=========== TEXTOS PESO: INTERMEDIÁRIO ======👈*/
/* Textos Intermediários */
.p3intermediariomptit{}

.p3intermediariomp{}

.p3intermediariompitem{}
.p3intermediariompitemcont{}
.p3intermediariompitemletra{}
.p3intermediariompitemletracont{}

.p3intermediariompletra{}
.p3intermediariompletracont{}

.p3intermediariompnumero{}
.p3intermediariompnumerocont{}

.p3intermediariompmarcador{}
.p3intermediariompmarcadorcont{}

.p3intermediariompsemrecuo {
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: left;
    
}
.p3intermediariompsemrecuoitem{}
.p3intermediariompsemrecuoitemcont{}

/* Citação */
.p3citacaomptit1,
.p3citacaomptit2,
.p3citacaompolho,
.p3citacaomp,
.p3citacaompitem,
.p3citacaompitemcont,
.p3citacaompletra,
.p3citacaompletracont,
.p3citacaompnumero,
.p3citacaompnumerocont, 
.p3citacaompsemrecuo,
.p3citacaompsemrecuoletra{
    font-family: var(--citacao);
    font-size: var(--pesoPadrao);
    text-align: justify;
    hyphens: none;
    margin: 0.5em 0;
}

.p3citacaomptit1{
    font-family: var(--citacao);
    font-size: var(--peso6);
    text-align: center;
    font-weight: bold;
}
.p3citacaomptit2{
    text-align: center;
    font-weight: bold;
}

.p3citacaompolho{}

.p3citacaomp{
    text-indent: 1.5em;
    font-size: 0.9em;
}

.p3citacaompitem{
   font-size: 0.9em;
}
ul.p3citacaompitem li::before, p.p3citacaompitem::before{
    content: '•';
    width: 10px;
    height: 10px;
    margin:  0 10px 0 0;
}


.p3citacaompsemrecuoletra{
    font-size: var(--peso7);
}

.p3citacaompitemcont{}
.p3citacaompletra{}
.p3citacaompletracont{}

.p3citacaompnumero{}
.p3citacaompnumerocont{}
.p3citacaompsemrecuo{
    font-size: 0.9em;
} /* FIXME: STYLO NOVO */

/*👉=========== TEXTOS PESO: MENOR ==============👈*/
/* Legenda */
.p4legenda{}

/* Crédito Geral */
.p4credgeral{}

/* Cotas  */
.p4cota{}

/* Crédito imagem */
.p4creditoimagem{}

/* Recado imagem e medida animal */
.p4recadoimagem{}

/* Respostas de atividades propostas no Manual */
.p4respostamp{}

/* OED */
.p4iconeoedmp{}
.p4iconeoedmp::before {
    content: '';
    background: url(../images/icone_oed.svg) top left no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    position: absolute;
    margin: -4px 0 0 -40px;
}

.p4iconeoedmp {
    color: #016173;
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    border-radius: 0.5em;
    width: max-content;
    max-width: 100%;
    padding: 0.2em 1em;
    margin: 1em 0 1em 25px;
}

/*👉=========== ESTILOS DE CARACTER =============👈*/
/*👉.c0destaqueletramp{}

.c0destaquenumeromp{}
.c0destaqueromanomp{}
.c0bulletnumitem{}👈*/


.c0destaqueletramp {
    font-weight: bold !important;
    width: 24px;
    height: 24px;
    position: static;
    margin: 0 0 0 0;
    text-align: center;
}

.c0destaquenumeromp {
    font-weight: bold;
    position: static;
    margin: 0 0 0 0px;
    text-align: center;
}


.c0destaqueromanomp {
    font-weight: bold;
    position: static;
    margin: 0 0 0 0px;
    text-align: right;
}



.c1bold{}
.c1italico{}
.c1bolditalico{}

.c3idioma{}
.c3idiomabold{}
.c3idiomaitalico{}
.c3idiomabolditalico

.c4ordinal{}

/*MEDIA QUERY*/
/*👉Versão Mobile Cel👈*/
@media screen and (min-width: 300px) and (max-width: 700px) {}

/*👉Versão Mobile tablet👈*/
@media screen and (min-width: 720px) and (max-width: 1024px) {}

/*👉Versão Desktop👈*/
@media screen and (min-width: 1200px) {}

/*👉Versão IMPRESSÃO👈*/
@media print and (max-height: 280mm) {}